.flex {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	margin-top: 50px;
}
.title {
	color: #000000;
	opacity: 0.5;
}
.sz {
	font-size: 24px;
	padding-top: 50px;
}
.sz2 {
	font-size: 24px;
	padding-top: 5px;
}
.pad {
	padding-top: 20px;
}
.icons {
	margin-left: 87%;
}
.icon {
	background-color: rgba(0, 0, 0, 0.13);
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	margin-left: 26px;
}
.mainDiv {
	padding-left: 26px;
}
.imgg {
	width: 200px;
	height: auto;
}
.backGr {
	border-radius: 190px 0 0 190px;
}

.fl {
	margin-top: 25px;
	display: flex;
}
.imgRes {
	width: 70px;
	height: auto;
}
.imgFlex {
	display: flex;
	gap: 20px;
}

.backCol {
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 35px;
}
