* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	max-width: 600px;
	margin: auto;
	font-family: "FiraGO", sans-serif;
}

@media (max-width: 375px) {
	.container {
		max-width: 375px;
	}
}
@media (max-width: 600px) {
	.container {
		max-width: 600px;
	}
}

#root > main > div > div.Products_card__rKtBh > div:nth-child(1) > h3 {
	color: #ffff;
}

#root > main > div > div.Products_card__rKtBh > div:nth-child(2) img {
	padding-top: 40px;
}

#root
	> main
	> div
	> div.Products_card__rKtBh
	> div:nth-child(9)
	> div
	> div
	> a
	> img {
	width: 30%;
}

/* 77788899000------------------ */
